@charset "utf-8";

/* body */
body {
    background: #f2f2f2;
}
footer {
    margin-top: 40px;
}

/* navbar */
.navbar {
    background-color: #fff;
}
.navbar-header img {
    margin-top: 5px;
    height: 40px;
}

/* cover */
.cover {
    margin-top: -20px;
    margin-bottom: 20px;
    width: 100%;
    height: 400px;
    background: url("/images/cover-bg3.jpg") center center no-repeat;
    background-size: cover;
}
.cover .cover-inner {
    height: 100%;
    margin: auto;
    display: table;
}
.cover .cover-inner .cover-contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.btn-primary {
    margin: 20px;
    background-color: #ff6666;
    border-color: #ff6666;
}
/* search */
.search {
    margin-bottom: 50px;
}

/* item */
.rest .panel-body {
    height: 150px;
}
.rest .panel-heading {
    height: 200px;
}
.rest .panel-heading img {
    height: 100%;
    max-width: 100%;
}
p.rest-title {
    /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
}

a:hover {
  color: #ff6666;
}

a:active {
  color: #ff00ff;
}